<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/form_style.css">
    <title>Upload details</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Student Infromation</h2>
        </div>
        <form action="/preview" method="POST" enctype="multipart/form-data">
            <div class="main">
                <div class="uid element">
                    <label for="uid">UID <span style="color: red;">*</span></label>
                    <input type="text" name="uid" id="uid" placeholder="Student Id" required>
                </div>
    
                <div class="name element">
                    <label for="name">Name <span style="color: red;">*</span></label>
                    <input type="text" name="name" id="name" placeholder="Student Name" required>
                </div>
    
                <div class="roll_no element">
                    <label for="roll">College Roll No. <span style="color: red;">*</span></label>
                    <input type="text" name="roll" id="roll" placeholder="e.g, BTECH/CSE-DS/2021/048" required>
                </div>
    
                <div class="department element">
                    <label for="dept">Department <span style="color: red;">*</span></label>
                    <select name="dept" id="dept">
                        <option value="" style="opacity: 0.5;">--Select--</option>
                        <option value="CSE-DS">CSE-DS</option>
                        <option value="CSE">CSE</option>
                        <option value="CSE-AIML">CSE-AIML</option>
                        <option value="IT">IT</option>
                        <option value="ECE">ECE</option>
                        <option value="EE">EE</option>
                        <option value="AUE">AUE</option>
                    </select>
                </div>
    
                <div class="dob element">
                    <label for="dob">DOB <span style="color: red;">*</span></label>
                    <input type="date" name="dob" id="dob" required>
                </div>
    
                <div class="address element">
                    <label for="address">Address <span style="color: red;">*</span></label>
                    <input type="text" name="address" id="address" placeholder="Address" required>
                </div>
    
                <div class="state element">
                    <label for="state">State <span style="color: red;">*</span></label>
                    <input type="text" name="state" id="state" placeholder="State" required>
                </div>
    
                <div class="pincode element">
                    <label for="pincode">Pincode <span style="color: red;">*</span></label>
                    <input type="number" name="pincode" id="pincode" placeholder="Pincode" required>
                </div>
    
                <div class="contact1 element">
                    <label for="contact1">Contact number 1 <span style="color: red;">*</span></label>
                    <input type="number" name="contact1" id="contact1" placeholder="Phone Number" required>
                </div>
    
                <div class="contact2 element">
                    <label for="contact2">Contact number 2</label>
                    <input type="number" name="contact2" id="contact2" placeholder="Phone Number">
                </div>
    
                <div class="valid element">
                    <label for="valid_upto">Valid Upto <span style="color: red;">*</span></label>
                    <input type="date" name="valid_upto" id="valid_upto" required>
                </div>
    
                <div class="blood_grp element">
                    <label for="blood_grp">Blood Group <span style="color: red;">*</span></label>
                    <input type="text" name="blood_grp" id="blood_grp" placeholder="Blood Group" required>
                </div>
    
                <div class="issue element">
                    <label for="issue_date">Issue Date <span style="color: red;">*</span></label>
                    <input type="date" name="issue_date" id="issue_date" required>
                </div>
                <div class="stud_img">
                    <label for="input_img">Upload image <span style="color: red;">*</span></label>
                    <input type="file" name="input_img" id="input_img" required>
                </div>
            </div>
            <div class="submit-button">
                <button type="submit" id="submit-button">Submit <i class="fa-solid fa-angle-right"></i></button>
            </div>
        </form>
    </div>
</body>
</html>