@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mukta:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
h1#review{
    text-align: center;
    padding: 1.5rem 0 0.85rem 0;
    color: #ED9926;
    font-family: 'Poppins', sans-serif;
}

div#next{
    width: 100vw;
    box-sizing: border-box;
    padding-right: 3rem;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
}
div#next a{
    border: none;
    border-radius: 5px;
    background-color: #ED9926;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.05s linear;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    margin-top: 0.5rem;
    transition: all 0.15s linear;
}
div#next a:hover{
    background-color: #cf8926;
}
